.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 250px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
}

.content {
  padding: 2rem;
  flex: 1;
}
